@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================================FONTS================================================= */
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/helvetica-neue-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-display: swap;
  src: url("/src/assets/fonts/HelveticaNeueMedium.ttf") format("ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-display: swap;
  src: url("/src/assets/fonts/HelveticaNeueBold.ttf") format("ttf");
}

/* =========================================STYLES================================================= */

input {
  @apply outline-transparent;
}

.active {
  @apply relative
after:content-[''''] after:absolute after:bottom-[-12px] lg:after:bottom-[28px] after:left-[50%] after:w-[8px] after:h-[8px] after:rounded-[50%] after:bg-[#fff] after:translate-x-[-50%];
}

.home-wrapper {
  @apply relative py-[163px]
before:content-[''''] before:w-[677px] before:h-[736px] before:bg-accentColor before:absolute before:top-[-88px] before:left-[-96px] before:z-[-2] before:rounded-tl-[30px] before:rounded-bl-[30px]

after:content-[''''] after:absolute after:top-[-88px] after:right-[-96px] after:w-[699px] after:h-[736px] after:bg-accentColor after:bg-[url('./assets/images/hero_desktop1x.jpg')] after:bg-cover after:bg-center after:z-[-2] after:rounded-tr-[30px] after:rounded-br-[30px];
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .home-wrapper::after {
    background-image: url("./assets/images/hero_desktop2x.jpg");
  }
}

.home-line {
  @apply relative
after:content-[''''] after:absolute after:bottom-0 after:left-[50%] after:w-[1376px] after:h-[1px] after:bg-[#fbfbfb66] after:translate-x-[-50%];
}

.primary-btn-hover {
  @apply relative hover:text-accentColor focus:text-accentColor z-[1] active:text-accentColor transition duration-500;
}
.primary-btn-hover::after {
  @apply content-[''''] absolute top-0 left-0 w-full h-full z-[-1] bg-lightColor scale-x-[0] rounded-[30px] origin-right transition duration-1000;
}
.primary-btn-hover:hover::after,
.primary-btn-hover:focus::after,
.primary-btn-hover:active::after {
  @apply origin-left scale-x-100;
}

.custom-list-spacing > li:not(:last-child) {
  @apply mb-3;
}

@media (min-width: 1440px) {
  @keyframes moveBox {
    0% {
      transform: translate(150px, 0);
    }
    12.5% {
      transform: translate(410px, 250px);
    }
    25% {
      transform: translate(150px, 540px);
    }
    37.5% {
      transform: translate(-15px, 400px);
    }
    50% {
      transform: translate(150px, 0);
    }
    62.5% {
      transform: translate(410px, 250px);
    }
    75% {
      transform: translate(150px, 540px);
    }
    87.5% {
      transform: translate(-15px, 400px);
    }
    100% {
      transform: translate(150px, 0);
    }
  }
}

.animate-moveBox {
  animation: moveBox 15s linear infinite;
}
