@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================================FONTS================================================= */
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/helvetica-neue-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-display: swap;
  src: url("/src/assets/fonts/HelveticaNeueMedium.ttf") format("ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-display: swap;
  src: url("/src/assets/fonts/HelveticaNeueBold.ttf") format("ttf");
}

/* =========================================STYLES================================================= */
.active {
  position: relative;
}

.active::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1440px) {
  .active::after {
    bottom: 28px;
  }
}

input {
  outline: transparent;
}
